<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/blog-creator.css">
    <title>Dynamic Blog</title>
</head>
<body>
    <div class="header">
        <nav>
            <ul class="navbar-list">
                <li class="navbar-list-item"><a class="navbar-link" href="/">Home</a></li>
                <li class="navbar-list-item"><a class="navbar-link" href="/posts">Posts</a></li>
                <!--A function using EJS to check if the user is already logged will be used here, to change the navbar-->
                <li class="navbar-list-item"><a class="navbar-link" href="/admin">Admin</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>